:root {
  --primary: #434e7e;
  --border: #e5e7eb;
  --text-primary: #111827;
  --text-secondary: #6b7280;
  --text-label: #4B5563;
  --bg-soft: #f9fafb;
}

* {
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}

body {
  margin: 0px;
  height: auto;
  background:
    conic-gradient(from 288deg at 100% 100%,
      white 0deg,
      #ebedf5 69deg,
      white 331deg,
      rgba(242, 244, 255, 0.5) 349deg),
    white;
}

.page {
  width: 100vw;
  height: 100vh;
  padding: 125px 125px;
  align-items: center;
}

.layout {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  gap: 32px;
  overflow: hidden;
}

/* sidebar */

.sidebar {
  min-width: 240px;
  height: 100%;
  padding: 12px;
  background: var(--bg-soft);
  border: 1px solid var(--border);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation: fadeIn 0.5s ease;
}

.step {
  height: 24px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  color: var(--text-secondary);
  letter-spacing: 0.07px;
  animation: fadeIn 0.3s ease;
}

.step.active {
  padding-left: 0;
  gap: 4px;
  color: var(--text-primary);
  font-weight: 600;
  position: relative;
}

.step.active::before {
  content: "";
  width: 4px;
  height: 28px;
  background: var(--primary);
  border-radius: 2px;
  margin-right: 8px;
}

.step.completed {
  color: #4CAF50;
}

.complete-circle {
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: var(--Color-Semantic-Succes-600, #2E9E2F);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: none;
}

.complete-circle.completed {
  display: flex;
}

/* main panel */

.panel {
  flex: 1;
  padding: 20px;
  background: #fff;
  width: inherit;
  height: inherit;
  overflow: hidden;
  border: 1px solid var(--border);
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(182, 190, 198, 0.25);
  display: flex;
  flex-direction: column;
  gap: 50px;
  animation: fadeIn 0.3s ease;
}

/* header */

.panel-title h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: var(--text-primary);
  line-height: 24px;
}

.panel-title p {
  margin: 4px 0 16px;
  font-size: 14px;
  font-weight: 300;
  color: var(--text-secondary);
  letter-spacing: 0.07px;
  line-height: 20px;
}

.panel-body {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  max-height: 450px;
  overflow-y: auto;
  gap: 30px;
}

.panel-center {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* form */

form {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 40px;
  animation: fadeIn 0.5s ease;
  overflow: hidden;
}

.form-section {
  display: none;
}

.form-section.active {
  display: block;
  animation: fadeIn 0.3s ease;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.row.narrow {
  /* max-width: 345px; */
  justify-content: left;
}

.row.stretch {
  justify-content: stretch;
  background-color: #111827;
}

.row.spaced {
  padding-bottom: 20px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-label);
  letter-spacing: 0.07px;
  line-height: 20px;
}

/* inputs */

input,
textarea,
select {
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: var(--text-primary);
  background: #fff;
  outline: none;
}

textarea {
  height: 100px;
  width: 100%;
  resize: vertical;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  accent-color: var(--primary);
  border-radius: 10px;
}

input::placeholder {
  color: #d1d5db;
}

select {
  appearance: none;
  background-image:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'><path d='M19.7869 8.42319L12.5145 16.7556C12.447 16.8331 12.3668 16.8945 12.2785 16.9365C12.1902 16.9784 12.0956 17 12 17C11.9044 17 11.8098 16.9784 11.7215 16.9365C11.6332 16.8945 11.553 16.8331 11.4855 16.7556L4.21312 8.42319C4.07666 8.26684 4 8.05478 4 7.83367C4 7.61256 4.07666 7.4005 4.21312 7.24416C4.34958 7.08781 4.53466 6.99997 4.72764 6.99997C4.92062 6.99997 5.1057 7.08781 5.24216 7.24416L12 14.9881L18.7578 7.24416C18.8254 7.16674 18.9056 7.10533 18.9939 7.06343C19.0822 7.02153 19.1768 6.99997 19.2724 6.99997C19.3679 6.99997 19.4625 7.02153 19.5508 7.06343C19.6391 7.10533 19.7193 7.16674 19.7869 7.24416C19.8544 7.32157 19.908 7.41348 19.9446 7.51463C19.9812 7.61578 20 7.72419 20 7.83367C20 7.94316 19.9812 8.05157 19.9446 8.15272C19.908 8.25387 19.8544 8.34577 19.7869 8.42319Z' fill='%234b5563'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  padding-right: 40px;
}

/* phone */

.phone {
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 8px;
  overflow: hidden;
  height: 48px;
}

.phone input {
  border: none;
  height: 100%;
}

.country {
  border: none;
  border-right: 1px solid var(--border);
  height: 100%;
  padding: 0 12px;
  background: #fff;
}

/* text */
.text-secondary {
  margin: 0px;
  color: var(--text-secondary);
  font-size: 12px;
  text-align: left;
}

/* button */
button {
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  height: 48px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s ease;
}

button:disabled {
  background: #f5f5f5;
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: not-allowed;
}

.btn {
  width: 100%;
  margin-top: 8px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background: #434E7E;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease;
  cursor: pointer;
}

.btn-outline {
  width: 100%;
  margin-top: 8px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #434E7E;
  background: #FFFFFF;
  color: #434E7E;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease;
}

.btn:hover {
  background-color: #FFFFFF;
  color: #434E7E;
  border: 1px solid #434E7E;
  box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
  /* transition: all 0.1s ease; */
}

.btn-outline:hover {
  background-color: #434E7E;
  color: #FFFFFF;
  box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
  /* transition: all 0.1s ease; */
}

.btn:disabled {
  background-color: #F5F5F5;
  color: #BDBDBD;

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.table-add-btn {
  width: 100%;
  min-width: 100px;
  padding: 8px 12px;
  background: none;
  border: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: var(--Color-Text-Button-Seccondary, #434E7E);
}

.table-add-btn:hover {
  background-color: #F3F4F6;
}

.table-add-btn:focus {
  background-color: #E5E7EB;
}

.btn-disabled {
  flex: 1;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  background: var(--Color-Background-Button-Disable, #F5F5F5);

  font-size: 16px;
  font-weight: 700;
  color: var(--Color-Text-Disable, #BDBDBD);
  cursor: not-allowed;
}

.table-wrapper {
  margin-top: 12px;
}

.table-scroll-x {
  overflow-x: auto;
  border: 1px solid #eee;
  border-radius: 8px;
}

table {
  width: 100%;
  min-width: 900px;
  border-collapse: collapse;
  font-size: 13px;
}

thead th {
  background: #f6f7f9;
  text-align: left;
  padding: 10px 12px;
  color: #222;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

td {
  padding: 10px 12px;
  border-left: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  vertical-align: middle;
  font-size: 14px;
}

table select,
table input[type="text"],
table input[type="file"],
table input[type="number"],
table input[type="month"] {
  width: auto;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
}

input[type=file]::file-selector-button {
  border-radius: 10px;
  border: none;
  background: transparent;
  color: transparent;
  background-image: url('assets/icons/upload-icon.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding: 20px;
  background-position: center;
  transition: all 0.1s ease;
}

input[type=file]::file-selector-button:hover {
  background-color: var(--border);
  transition: all 0.1s ease;
}

table select {
  appearance: none;
  background-image:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'><path d='M19.7869 8.42319L12.5145 16.7556C12.447 16.8331 12.3668 16.8945 12.2785 16.9365C12.1902 16.9784 12.0956 17 12 17C11.9044 17 11.8098 16.9784 11.7215 16.9365C11.6332 16.8945 11.553 16.8331 11.4855 16.7556L4.21312 8.42319C4.07666 8.26684 4 8.05478 4 7.83367C4 7.61256 4.07666 7.4005 4.21312 7.24416C4.34958 7.08781 4.53466 6.99997 4.72764 6.99997C4.92062 6.99997 5.1057 7.08781 5.24216 7.24416L12 14.9881L18.7578 7.24416C18.8254 7.16674 18.9056 7.10533 18.9939 7.06343C19.0822 7.02153 19.1768 6.99997 19.2724 6.99997C19.3679 6.99997 19.4625 7.02153 19.5508 7.06343C19.6391 7.10533 19.7193 7.16674 19.7869 7.24416C19.8544 7.32157 19.908 7.41348 19.9446 7.51463C19.9812 7.61578 20 7.72419 20 7.83367C20 7.94316 19.9812 8.05157 19.9446 8.15272C19.908 8.25387 19.8544 8.34577 19.7869 8.42319Z' fill='%234b5563'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  padding-right: 40px;
}

.table-period-cell {
  display: flex;
  align-items: center;
  gap: 6px;
}

.table-remark {
  display: flex;
  align-items: center;
  gap: 6px;
}

.table-upload {
  cursor: pointer;
  color: #666;
  font-size: 12px;
}

.table-upload .file-name {
  max-width: 140px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-action {
  width: 20px;
  border-left: none;
  text-align: center;
  color: #ff4d4f;
  font-size: 14px;
}

.table-new-item {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.table-new-item button {
  border: none;
  background: none;
  color: #3f4aa3;
  font-weight: 500;
  cursor: pointer;
}

.file-input-wrapper {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-family: system-ui, sans-serif;
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: var(--text-primary);
  background: #fff;
  outline: none;
}

.file-input-wrapper input[type="file"] {
  display: none;
}

.file-name {
  min-width: 180px;
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-primary);
  font-size: 16px;
}

.file-btn {
  aspect-ratio: 1;
  border-radius: 10px;
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.file-btn:hover {
  background-color: var(--border);
  transition: all 0.1s ease;
}

/* preview application */
div.input-readonly {
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: var(--text-primary);
  background: #F5F5F5;
  outline: none;
}

div.section-preview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0px 30px 0px;
  border-bottom: 1px solid var(--border);
}

div.section-preview:last-child {
  padding-bottom: 10px;
  border-bottom: none;
}

h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: var(--text-primary);
  line-height: 14px;
}

.btn-link {
  background-color: transparent;
  align-items: center;
}

.btn-link:hover {
  background-color: #e7e7e7;
}

.btn-link:focus {
  background-color: #c2c2c2;
}